absl-py      
asgiref                      
astunparse                  
cachetools                   
certifi                      
charset-normalizer           
Django                  
flatbuffers               
gast                 
google-auth           
google-auth-oauthlib 
google-pasta           
grpcio                    
h5py                    
idna                     
importlib-metadata         
keras                     
Keras-Preprocessing     
libclang                 
Markdown                
numpy                 
oauthlib                
opt-einsum                 
Pillow                     
pip                        
protobuf                     
pyasn1                       
pyasn1-modules               
requests                     
requests-oauthlib            
rsa                          
setuptools                   
six                          
sqlparse                     
tensorboard                  
tensorboard-data-server      
tensorboard-plugin-wit       
tensorflow                   
tensorflow-estimator         
tensorflow-io-gcs-filesystem 
termcolor                    
typing-extensions            
tzdata                       
urllib3                      
Werkzeug                     
wheel                        
wrapt                        
zipp                         